<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#000000">
    <title>AyeLock</title>
    <link rel="shortcut icon" href="/AyeAreEm.png" />
    <link rel="stylesheet" href="/styles.css"><link rel="stylesheet" media="screen and (min-device-width: 501px)" href="/styles.css">
    <link rel="stylesheet" media="screen and (min-device-width: 320px) and (max-device-width: 500px)" href="/mobile.css">
    <link rel="manifest" type="application/manifest+json" href="/manifest.webmanifest" />
    <!-- ios support -->
    <link rel="apple-touch-icon" href="/img/AyeAreEm-96x96.png">
    <meta name="apple-mobile-web-app-status-bar" content="#000000">
    <script defer src="/script.js"></script>
</head>
<body>
    <div class="header">
        <h1 onclick="window.location = '/'">AyeMovies</h1>
    </div>

    <h1 style="text-align: center; margin-top: 85px;">Error</h1>
    <h2 style="text-align: center;"><%= error %></h2>
</body>
</html>