<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AyeMovies</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="shortcut icon" href="AyeAreEm.png" />
</head>
<body>
    <div class="header">
        <h1>AyeMovies</h1>
    </div>

    <div class="category" style="margin-top: 85px;">
        <h1>MCU Movies</h1>
        <a href="/Iron-Man"><img src="https://img.vxdn.net/poster/200/iron-man-1710.jpg" alt="Iron Man"></a>
        <a href="/Iron-Man2"><img src="https://img.vxdn.net/poster/200/iron-man-2-1711.jpg" alt="Iron Man 2"></a>
        <a href="/Iron-Man3"><img src="https://img.vxdn.net/poster/200/iron-man-3-1712.jpg" alt="Iron Man 3"></a>
        <a href="/Incredible-Hulk"><img src="https://img.vxdn.net/poster/200/the-incredible-hulk-3342.jpg" alt="The Incredible Hulk"></a>
        <a href="/Thor"><img src="https://img.vxdn.net/poster/200/thor-3351.jpg" alt="Thor"></a>
        <a href="/Thor-The-Dark-World"><img src="https://img.vxdn.net/poster/200/thor-the-dark-world-1843.jpg" alt="Thor: The Dark World"></a>
        <a href="/Thor-Ragnarok"><img src="https://img.vxdn.net/poster/200/thor-ragnarok-22466.jpg" alt="Thor: Ragnarok"></a>
        <a href="/Captain-America"><img src="https://img.vxdn.net/poster/200/captain-america-the-first-avenger-3352.jpg" alt="Captain America: The First Avenger"></a>
        <a href="/Captain-America-Winter-Soldier"><img src="https://img.vxdn.net/poster/200/captain-america-the-winter-soldier-1632.jpg" alt="Captain America: The Winter Soldier"></a>
        <a href="/Captain-America-Civil-War"><img src="https://img.vxdn.net/poster/200/captain-america-civil-war-latino-audio-11797.jpg" alt="Captain America: Civil War"></a>
        <a href="/Avengers"><img src="https://img.vxdn.net/poster/200/the-avengers-1717.jpg" alt="Marvel's The Avengers"></a>
        <a href="/Avengers-Age-Of-Ultron"><img src="https://img.vxdn.net/poster/200/avengers-age-of-ultron-4632.jpg" alt="Avengers: Age of Ultron"></a>
        <a href="/Avengers-Infinity-War"><img src="https://img.vxdn.net/poster/200/avengers-infinity-war-24689.jpg" alt="Avengers: Infinity War"></a>
        <a href="/Avengers-Endgame"><img src="https://img.vxdn.net/poster/200/avengers-endgame-28501.jpg" alt="Avengers: Endgame"></a>
        <a href="/GotG"><img src="https://img.vxdn.net/poster/200/guardians-of-the-galaxy-1608.jpg" alt="Guardians of the Galaxy"></a>
        <a href="/GotG2"><img src="https://img.vxdn.net/poster/200/guardians-of-the-galaxy-vol-2-20525.jpg" alt="Guardians of the Galaxy Vol. 2"></a>
        <a href="/Ant-Man"><img src="https://img.vxdn.net/poster/200/ant-man-4408.jpg" alt="Ant-Man"></a>
        <a href="/Ant-Man-And-The-Wasp"><img src="https://img.vxdn.net/poster/200/ant-man-and-the-wasp-25534.jpg" alt="Ant-Man and the Wasp"></a>
        <a href="/Doctor-Strange"><img src="https://img.vxdn.net/poster/200/doctor-strange-17530.jpg" alt="Doctor Strange"></a>
        <a href="/Spider-Man-Homecoming"><img src="https://img.vxdn.net/poster/200/spider-man-homecoming-21248.jpg" alt="Spider-Man: Homecoming"></a>
        <a href="/Spider-Man-Far-From-Home"><img src="https://img.vxdn.net/poster/200/spider-man-far-from-home-28904.jpg" alt="Spider-Man: Far From Home"></a>
        <a href="/Black-Panther"><img src="https://img.vxdn.net/poster/200/black-panther-23800.jpg" alt="Black Panther"></a>
        <a href="/Captain-Marvel"><img src="https://img.vxdn.net/poster/200/captain-marvel-28165.jpg" alt="Captain Marvel"></a>
    </div>

    <div class="category">
        <h1>Animated Movies</h1>
        <a href="/Kung-Fu-Panda"><img src="https://img.vxdn.net/poster/200/kung-fu-panda-2420.jpg" alt="Kung Fu Panda"></a>
        <a href="/Kung-Fu-Panda2"><img src="https://img.vxdn.net/poster/200/kung-fu-panda-2-2248.jpg" alt="Kung Fu Panda 2"></a>
        <a href="/Kung-Fu-Panda3"><img src="https://img.vxdn.net/poster/200/kung-fu-panda-3-9053.jpg" alt="Kung Fu Panda 3"></a>
        <a href="/Shrek"><img src="https://img.vxdn.net/poster/200/shrek-4608.jpg" alt="Shrek"></a>
        <a href="/Shrek2"><img src="https://img.vxdn.net/poster/200/shrek-2-4609.jpg" alt="Shrek 2"></a>
        <a href="/Shrek3"><img src="https://img.vxdn.net/poster/200/shrek-the-third-4610.jpg" alt="Shrek 3"></a>
        <a href="/Shrek4"><img src="https://img.vxdn.net/poster/200/shrek-forever-after-4611.jpg" alt="Shrek Forever After"></a>
        <a href="/Spider-Man:-Into-the-Spider-Verse"><img src="https://img.vxdn.net/poster/200/spider-man-into-the-spider-verse-27208.jpg" alt="Spider-Man: Into the Spider-Verse"></a>
        <a href="/Big-Hero-6"><img src="https://img.vxdn.net/poster/200/big-hero-6-2043.jpg" alt="Big Hero 6"></a>
        <a href="/How-To-Train-Your-Dragon"><img src="https://img.moviesjoy.to/resize/188x288/ec/35/ec359f4bfd201710f78d41d381c9eeda/ec359f4bfd201710f78d41d381c9eeda.jpg" alt="How To Train Your Dragon"></a>
        <a href="/How-To-Train-Your-Dragon2"><img src="https://img.moviesjoy.to/resize/188x288/72/3a/723adc6446687ea09ff1ae657c64ce0b/723adc6446687ea09ff1ae657c64ce0b.jpg" alt="How To Train Your Dragon 2"></a>
        <a href="/How-To-Train-Your-Dragon3"><img src="https://img.vxdn.net/poster/200/how-to-train-your-dragon-the-hidden-world-27688.jpg" alt="How-To-Train-Your-Dragon 3"></a>
    </div>
</body>
</html>