<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./components/head') %>
    <title>AyeMovies</title>
</head>
<body>
    <div class="header">
        <h1 onclick="window.location = '/'">AyeMovies</h1>
    </div>

    <div class="report">
        <h1>Report a bug:</h1>
        <input type="text" id="subject" placeholder="Subject" autocomplete="off" class="formInput"/><br>
        <textarea type="text" id="main" placeholder="Main" class="formInput"></textarea><br>
        <button class="epsBtn" onclick="sendBug()">Submit</button>
    </div>
</body>
</html>