@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html, * {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    background: rgb(53,56,57);
    font-family: 'Roboto', sans-serif;
}

img {
    height: 30vh;
    width: 20vh;
    border-radius: 5px;
    margin-left: 10px;
    margin-bottom: 10px;
}

input {
    width: 265px;
    height: 3vh;
    border-radius: 5px;
    border: none;
}

textarea {
    width: 265px;
    height: 8vh;
    border-radius: 5px;
    border: none;
}

input.search {
    margin-top: 10px;
    margin-right: 10px;
    float: right;
}

button {
    border: 2px solid black;
    padding: 10px 20px;
    text-align: center;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
}

.header {
    background-color: rgb(212, 35, 79);
    position: fixed;
    top: 0;
    width: 100%;
}

.header h1 {
    font-size: 40px;
    margin-left: 1%;
    float: left;
}

.category {
    padding: 15px;
    margin-left: 4%;
}

#container h1 {
    margin-bottom: 10px;
    color: rgb(231, 231, 231);
    margin-left: 4%;
}

.preview {
    height: 50vh;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 85px;
    display: block;
}

.desc {
    margin: auto;
    background-color: rgb(83, 87, 88);
    color: white;
    width: 70%;
    border-radius: 10px;
}

.desc h5 {
    margin-left: 30px;
}

.episodeList {
    justify-content: center;
    text-align: center;
    align-items: center;
}

.epsBtn {
    background: white;
    color: black;
    display: inline-block;
    border: 2px solid black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}

.epsBtn:hover, .epsBtn:active {
    background: rgb(212, 35, 79);
    color: white;
}

#loadBtn, #newLoadBtn {
    background: rgb(212, 35, 79);
    color: white;
    margin-bottom: 2%;
}

#loadBtn:hover, #loadBtn:active, #newLoadBtn:hover, #newLoadBtn:active {
    background: white;
    color: black;
}

.report {
    margin: auto;
    text-align: center;
    background: rgb(212, 35, 79);
    border-radius: 5px;
    width: 30%;
    height: 25%;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: auto;
}

.formInput {
    margin-top: 10px;
}

.issue {
    margin: auto;
    text-align: center;
    background: rgb(212, 35, 79);
    border-radius: 5px;
    width: 30%;
    height: 25%;
    margin-bottom: 20px;
}

.bottomNav {
    background-color: rgb(22, 22, 22);
    bottom: 0;
    width: 100%;
    color: rgb(46, 46, 46);
    text-align: center;
}

.bottomNav p {
    font-size: 25px;
    margin-bottom: 1%;
}

.bottomNav .extra {
    text-decoration: underline;
    color: rgb(46, 46, 46);
}

.bottomNav .extra:hover {
    color: rgb(83, 83, 83);
}